<!-- <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid">
      <img src="../assets/BRO!.png" alt="" id="nav-img">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Update inventory/Html/inventory.html">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Generating Credentials/html/adminhome.html">Add Staff</a>
          </li>   
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->
<div class="flex-container">
    <div class="card">
        <div class="card-body">
            <router-outlet></router-outlet>
            <Button class="btn btn-primary" [routerLink]="'/login'" id="buttons">
              Goto Login Page
            </Button>
        </div>
    </div>
   
</div>
<footer>
    <div class="container">
        <span>All rights reserved @2022</span>
    </div>
</footer>